article {
	padding-bottom: 300px;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fade-in {
	animation-name: fadeIn;
	animation-duration: 1.3s;
	animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.js-lazy-image {
	display: block;
	height: 240px; /* needed because otherwise all images are "rendered" in viewport on page load */
	margin: 0 auto 50px;
}